html { 
    background: url(./highfive.jpg) no-repeat center center fixed; 
    background-size: cover;
}

body {
    background-color: transparent;
}

.drop-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity: .95;
}

.container-block {
    background-color: white;
}